*.pyc
*.ini
*.mo
*.iml
*.swp
*~
.coverage
.idea
.installed.cfg
.build-artefacts/
apache/wsgi.conf
apache/mapproxy.conf
deploy/hooks/pre-create-code
buildout_branch.cfg
deploy/deploy-branch.cfg
deploy/conf/00-branch.conf
mapproxy/application.py
mapproxy/wsgi.py
env
apache/app.conf
mapproxy/mapproxy.yaml
config
